@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #f5f5f5 ;
}
.container{
  width: 80%;
  margin: 0 auto;
}
nav{
  padding: 10px 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav a{
  color:#666;
  text-decoration: none;
  font-size: 30px;
}
nav input{
  
  padding: 10px 20px;
  outline: none;
  color: white;
  width: 350px;
  border: none;
  background-color: #666;
  display: block;
}
::placeholder{
  color: rgba(255,255,255,0.8);
}
main{
  font-size: 15px;
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.result{
  padding: 15px;
  background-color: #4CAF50;
  border-radius: 3px;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.05);
}